<h2>Task Details</h2>


<h2>Task #<%=@task.id%></h2>
  <p>
    name: <%= @task.name %>
  </p>
  <p>
  description: <%= @task.description%>
  </p>
  <p>
    completion_date: <%= @task.completion_date %>
  </p>
